*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

header{
    background:#0b5ed7;
    color:white;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}
.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("rei.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 30px;
}

.hero button {
    padding: 12px 30px;
    font-size: 18px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background: #0056b3;
}
    
section{
    padding:60px 10%;
}

h2.section-title{
    text-align:center;
    margin-bottom:40px;
    color:#0b5ed7;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.team-cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    max-width:900px;
    margin:0 auto;
}

.team-cards .card{
    flex:0 1 260px;
    width:100%;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
}

.business-info{
    background:#0b5ed7;
    color:white;
    border-radius:10px;
    padding:30px;
}

.testimonial{
    background:white;
    border-left:5px solid #0b5ed7;
    padding:20px;
    margin-bottom:20px;
}

.project{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
}

.project img{
    width:100%;
    border-radius:10px;
    margin-bottom:15px;
}

.contact{
    text-align:center;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){
    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }

    .hero h2{
        font-size:35px;
    }
}